:root {
    --azul: #30669A;
    --negro: #000000;
    --gris_oscuro: #1e1e1e;  
    --blanco: #ffffff;
    --fuentePrincipal: 'Roboto', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.sidebar-menu_control {
    background-color: #34495e;
}